table{
    width: 200px;
    padding: 10px;
    margin: 5px;
    border-collapse: collapse;
}
table,tr,th,td{
    border: 3px solid black;
    padding: 10px;
    margin: 5px;
}
a{
    cursor: pointer;
    width: 150px;
    padding: 8px;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    background-color: black;
    color: white;
}
